body{margin:0px;
background:url("../img/back.jpg");}
header{   background: url("../img/head.png") no-repeat scroll 10px 0 / 50px 50px rgba(0, 0, 0, 0);
    color: #E8E8E8;
    font: normal 25px/1.5 comic sans ms;
    height: 50px;
    padding-left: 60px;
	padding-top:5px;
	letter-spacing:3px;
	border-bottom:3px solid #E8E8E8;
	text-align:center;
	margin:10px 0;}
[data-role="page"]{display:none;padding:10px;}
.active{display:block;}
#homepage input[type="text"]{padding:5px;margin:0px auto;display: block;background:#E8E8E8;border-radius:25px;-moz-border-radius:25px;text-align:center;}
.tabs{
    color: #000000;
    margin: 5px 20px;
    padding: 10px;
    text-align: center;
    width: auto;
	float:none;clear:both;
	}
#problem{background-color: #F56743;}
.problem-cover{position:relative;}
.problem-cover img{left: 30px;
    position: absolute;
    top: -7px;
    transform: rotate(10deg);
    width: 30px;}
#result .tabs b{text-transform: uppercase;}
#result img{width:100%;}
#result .tabs{margin:0;color:#fff;}
#easyback{background:url("../img/1.png");}
#normalback{background:url("../img/2.png");float:right;}
#expertback{background:url("../img/3.png");}
.mainimg{
width:100px;
height:100px;
background-size:100% 100% !important;
float:left;
animation:tilt 1s infinite 1s linear;
-moz-animation:tilt 1s infinite 1s linear;
-webkit-animation:tilt 1s infinite 1s linear;
}
.text {
    background: #E8E8E8;
    margin-top: 50px;
	padding:3px;
}
@keyframes tilt
{
0% {transform:rotate(-30deg);}
25%{transform:rotate(0deg);}
50%{transform:rotate(30deg);}
75%{transform:rotate(0deg);}
100%{transform:rotate(-30deg);}
}
@-webkit-keyframes tilt
{
0% {-webkit-transform:rotate(-30deg);}
25%{-webkit-transform:rotate(0deg);}
50%{-webkit-transform:rotate(30deg);}
75%{-webkit-transform:rotate(0deg);}
100%{-webkit-transform:rotate(-30deg);}
}
@-moz-keyframes tilt
{
0% {-moz-transform:rotate(-30deg);}
25%{-moz-transform:rotate(0deg);}
50%{-moz-transform:rotate(30deg);}
75%{-moz-transform:rotate(0deg);}
100%{-moz-transform:rotate(-30deg);}
}
#question .tabs{
margin:10px;color:#fff;
}
#options{padding-top:20px;}
.badge{background: url("../img/b.png") repeat scroll 0 0 / 40px 40px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    height: 20px;
    margin-left: 50%;
    padding: 10px 15px;
    width: 10px;}